            <div th:fragment="panel-inicio" id="inicio" class="content" th:classappend="${activeSection == 'home' ? ' active' : ''}">
                <div class="home-section">
                    <div class="card">
                        <div class="row g-0">
                            <div class="col-5 d-flex justify-content-center align-items-center overflow-hidden">
                                <i class="fa-solid fa-dollar-sign"></i>
                            </div>
                            <div class="col-7">
                                <div class="card-body">
                                    <h5 class="card-header">Card title</h5>
                                    <p class="card-text">Tt longer.</p>
                                    <p class="card-text"><small class="text-body-secondary">Last updated 3 mins
                                            ago</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="row g-0">
                            <div class="col-5 d-flex justify-content-center align-items-center overflow-hidden">
                                <i class="fa-solid fa-dollar-sign"></i>
                            </div>
                            <div class="col-7">
                                <div class="card-body">
                                    <h5 class="card-header">Card title</h5>
                                    <p class="card-text">Tt longer.</p>
                                    <p class="card-text"><small class="text-body-secondary">Last updated 3 mins
                                            ago</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="row g-0">
                            <div class="col-5 d-flex justify-content-center align-items-center overflow-hidden">
                                <i class="fa-solid fa-dollar-sign"></i>
                            </div>
                            <div class="col-7">
                                <div class="card-body">
                                    <h5 class="card-header">Card title</h5>
                                    <p class="card-text">Tt longer.</p>
                                    <p class="card-text"><small class="text-body-secondary">Last updated 3 mins
                                            ago</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
