<div th:fragment="panel-product"
	th:classappend="${activeSection == 'products' ? ' active' : ''}"
	id="productos" class="content">

	<hr>
	<div class="tabla-productos">
		<div class="table-container">
			<table class="align-middle content-table">
				<thead>
					<tr>
						<th>N°</th>
						<th>Portada</th>
						<th>Título</th>
						<th>Autor</th>
						<th>N° Paginas</th>
						<th>Precio</th>
						<th>Stock</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="producto : ${productos}">
						<th th:text="${producto.id}"></th>
						<td th:text="${producto.autor}"></td>
						<td th:text="${producto.titulo}"></td>
						<td th:text="${producto.autor}"></td>
						<td th:text="${producto.numeroPaginas}"></td>
						<td th:text="${producto.precio}"></td>
						<td th:text="${producto.stock}"></td>
						<td>
							<button class="btn btn-primary">Editar</button> 
							<a class="btn btn-danger">Eliminar</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
